<h1>Reponse</h1>
<!-- Fichier  vues  on ecrit le ruby à l'interieur et avec le égal ça afficheC'est dans le contrôller que se trouve la creatiojn des variables d'instense -->
<%= @question %>
<%= @answer %>
<!-- On lie les  2 fichiers entre eux ask et answer  link_to suivi du nom de fichier , suvi de ask  qui est le prefix que l'ontrouve en faisant "rails routes" dans le terminal-->
<%= link_to "Fichier ask", ask_path %>



